@tailwind base;
@tailwind components;
@tailwind utilities;

.mantine-Carousel-indicator {
  background-color: rgb(216, 208, 208);
}

.mantine-1pg26xz:focus-within {
  outline: none;
  border-color: #E21221;
  background-color: #ffced1;
}

* {
  @apply font-yekan;
}